language: python

python:
  - 3.4

before_install:
  - wget http://repo.continuum.io/miniconda/Miniconda-latest-Linux-x86_64.sh -O miniconda.sh
  - chmod +x miniconda.sh
  - ./miniconda.sh -b
  - export PATH=/home/travis/miniconda/bin:$PATH
  - conda update --yes conda

install:
  - conda create --yes -n testenv python=$TRAVIS_PYTHON_VERSION pip scipy numpy pytest
  - source activate testenv

# Run tests
script:
    - PYTHONPATH=".:$PYTHONPATH" py.test tests
